# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
__pycache__
*egg-info
_build
build

# Other files and folders
.settings/
Icon?
*.log
Pipfile
Pipfile.lock
.vscode
.DS_Store

# Test outputs
.coverage
htmlcov
.pytest-cache
*.png
*.html
wwtp_configuration/tests/data/test_to_json.json

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.