# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
__pycache__
*egg-info
_build
build

# Other files and folders
.settings/
Icon?
*.log
Pipfile
Pipfile.lock
.vscode
.DS_Store

# Test outputs
.coverage
htmlcov
.pytest-cache
*.png
*.html
pype_schema/tests/data/test_to_json.json
pype_schema/tests/data/dummy_output.json
pype_schema/tests/data/valve.txt
pype_schema/tests/data/valve_temp.txt
pype_schema/tests/data/valve_temp.inp
pype_schema/tests/data/L-TOWN.txt
pype_schema/tests/data/L-TOWN_temp.txt
pype_schema/tests/data/L-TOWN_temp.inp
pype_schema/tests/data/EPANET_Net_3.txt
pype_schema/tests/data/EPANET_Net_3_temp.txt
pype_schema/tests/data/EPANET_Net_3_temp.inp
pype_schema/tests/lib/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.